@model IEnumerable<PTRex.Models.TargetWorkout>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/TargetStyleSheet.css" rel="stylesheet" />

<h2>Your Current Workout Plan for the Day</h2>
<p>A workout is a set of exercises that you do one or more times each day as prescribed by your physical therapist.</p>

<p>
    @Html.ActionLink("Add a New Exercise to Your Workout", "Create")
</p>
<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.Exercis.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseNickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetSessionsPerDay)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TargetNumSets)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.TargetNumReps)
        </th>
               
        <th>
            @Html.DisplayNameFor(model => model.TargetNotes)
        </th>
       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>      
        
        <td>
            @Html.DisplayFor(modelItem => item.Exercis.Name)

        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ExerciseNickName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TargetSessionsPerDay)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetNumSets)
        </td>
               
         <td>
            @Html.DisplayFor(modelItem => item.TargetNumReps)          
       </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TargetNotes)
        </td>
        
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    TO BE CREATED: When all exercises have been added to the Workout is complete user proceeds to STEP 2 <br/>
    of the Target Workout Creation Process
    Next Step Button
</p>
