@model PTRex.Models.Exercis

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/ExercisesReference.css" rel="stylesheet" />



    <p class="nameHeading"> @Html.DisplayFor(model => model.Name)  </p>
    <div class="row">

        @if (Model.ResourcePhoto != null)
            { <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <img src="@Url.Content(Model.ResourcePhoto)" class="center-block" id="detailsPhoto" alt="Picture" />
        </div>
        }

        @if (Model.ResourcePhoto != null)
        { <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <dl class="dl-horizontal">

                  <dt>
                      @Html.DisplayNameFor(model => model.HowTo)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.HowTo)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Equipment)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Equipment)
                  </dd>


                  <dt>
                      @Html.DisplayNameFor(model => model.ResourceText)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.ResourceText)
                  </dd>
                  <br />
                  <br />
              </dl>
                @if (Model.ResourceVideo != null)
                {
                    <iframe width="600" height="400" src="@Url.Content(Model.ResourceVideo)" frameborder="0"></iframe>
                }

                 
        </div>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
                }

                else {

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.HowTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HowTo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Equipment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Equipment)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.ResourceText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResourceText)
            </dd>
            <br />
            <br />
        </dl>
            @if (Model.ResourceVideo != null)
            {
                <iframe width="600" height="400" src="@Url.Content(Model.ResourceVideo)" frameborder="0"></iframe>
            }


       
    </div>
                 <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
    </div>