@model IEnumerable<PTRex.Models.Exercis>

@{
    ViewBag.Title = "Index";

}

<h2>Exercise Reference Table Index Page</h2>
<p>
    This page shows all of the current exercises in the EXERCISES table of the database.<br />
    This table is a reference table that becomes part of the drop-down menu for the TARGET and ACTUAL WORKOUT tables.<br />
    New exercises may be CREATED in the Exercises table. Existing exercises may be EDITED and DELETED.<br />
</p>
   <p> WARNING: If exercises are deleted from this table, it may create an error due to null values in required fields of the TARGET and ACTUAL WORKOUT pages. </p>
<br />
<p>STRETCH TASK - Users of the database may be allowed to "CREATE NEW" or "EDIT" exercises in the table. </p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceVideo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourcePhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment)
        </td>
        <td>
            @if (item.ResourceVideo != null)
            {
                <iframe width="240" height="185" src="@Url.Content(item.ResourceVideo)" frameborder="0"></iframe>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourcePhoto)
        </td>
        <td>
                    @if (item.ResourcePhoto != null)
            {
                    <img src=@Url.Content(item.ResourcePhoto) alt="photo not available" class="tableIMG" ***THIS WON"T WORK IF NULL VALUE>
            }
                        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
