@model IEnumerable<PTRex.Models.Exercis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceVideo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourcePhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceVideo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourcePhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
